# Base16 {{scheme-name}} - alacritty color config
# {{scheme-author}}

[colors]
draw_bold_text_with_bright_colors = false

# Default colors
[colors.primary]
background = '#{{base00-hex}}'
foreground = '#{{base05-hex}}'

# Colors the cursor will use if `custom_cursor_colors` is true
[colors.cursor]
text = '#{{base00-hex}}'
cursor = '#{{base05-hex}}'

# Normal colors
[colors.normal]
black = '#{{base01-hex}}'
red = '#{{base08-hex}}'
green = '#{{base0B-hex}}'
yellow = '#{{base0A-hex}}'
blue = '#{{base0D-hex}}'
magenta = '#{{base0E-hex}}'
cyan = '#{{base0C-hex}}'
white = '#{{base06-hex}}'

# Bright colors
[colors.bright]
black = '#{{base02-hex}}'
red = '#{{base09-hex}}'
green = '#{{base01-hex}}'
yellow = '#{{base02-hex}}'
blue = '#{{base04-hex}}'
magenta = '#{{base06-hex}}'
cyan = '#{{base0F-hex}}'
white = '#{{base07-hex}}'

