[colors]
    background = #{{base00-hex}}
    background-alt = #{{base01-hex}}
    foreground = #{{base05-hex}}
    accent = #{{base0D-hex}}
    secondary = #{{base0B-hex}}
    alert = #{{base09-hex}}
    disabled = #{{base02-hex}}

