frame_color = "#{{base05-hex}}"
separator_color = "#{{base05-hex}}"

[base16_low]
    msg_urgency = "low"
    background = "#{{base01-hex}}"
    foreground = "#{{base03-hex}}"

[base16_normal]
    msg_urgency = "normal"
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[base16_critical]
    msg_urgency = "critical"
    background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"

