*{

	bg:  #{{base01-hex}};
	alt: #{{base00-hex}};
	fgd: #{{base05-hex}};
	gry: #{{base02-hex}};
	acc: #{{base0D-hex}};

	background-alt: @alt;
	background: @bg;
	border: @gry;
	foreground: @fgd;
	accent: @acc;
}

