local style = require "core.style"
local common = require "core.common"

local bg       = { common.color "#{{base00-hex}}" }
local bg2      = { common.color "#{{base01-hex}}" }
local fg       = { common.color "#{{base05-hex}}" }
local fgdim    = { common.color "#{{base06-hex}}" }
local red      = { common.color "#{{base09-hex}}" }
local green    = { common.color "#{{base0B-hex}}" }
local yellow   = { common.color "#{{base0A-hex}}" }
local blue     = { common.color "#{{base0D-hex}}" }
local magenta  = { common.color "#{{base0E-hex}}" }
local cyan     = { common.color "#{{base0C-hex}}" }
local orange   = { common.color "#{{base08-hex}}" }
local gray     = { common.color "#{{base02-hex}}" }
local graylight= { common.color "#{{base04-hex}}" }

style.background = bg
style.background2 = bg
style.background3 = bg2
style.text = fg
style.caret = red
style.accent = blue
style.dim = fgdim
style.divider = gray
style.selection = graylight
style.line_number = fgdim
style.line_number2 = fg
style.line_highlight = gray
style.scrollbar = fgdim
style.scrollbar2 = fg

style.syntax["normal"] = fg
style.syntax["symbol"] = fg
style.syntax["comment"] = fgdim
style.syntax["keyword"] = magenta
style.syntax["keyword2"] = red
style.syntax["number"] = blue
style.syntax["literal"] = blue
style.syntax["string"] = cyan
style.syntax["operator"] = fg
style.syntax["function"] = blue

style.guide = gray          -- indentguide

