ACCENT_BG={{base0D-hex}}
BG={{base00-hex}}
BTN_BG={{base03-hex}}
BTN_FG={{base05-hex}}
BTN_OUTLINE_OFFSET=-3
BTN_OUTLINE_WIDTH=1
CARET1_FG={{base05-hex}}
CARET2_FG={{base05-hex}}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{base05-hex}}
GRADIENT=0.0
GTK3_GENERATE_DARK=True
HDR_BG={{base0D-hex}}
HDR_BTN_BG={{base03-hex}}
HDR_BTN_FG={{base05-hex}}
HDR_FG={{base05-hex}}
ICONS_DARK={{base0D-hex}}
ICONS_LIGHT_FOLDER={{base0D-hex}}
ICONS_MEDIUM={{base0D-hex}}
ICONS_STYLE=papirus_icons
ICONS_SYMBOLIC_ACTION={{base02-hex}}
ICONS_SYMBOLIC_PANEL={{base0D-hex}}
MENU_BG={{base03-hex}}
MENU_FG={{base07-hex}}
NAME="theme"
OUTLINE_WIDTH=1
ROUNDNESS=3
SEL_BG={{base0D-hex}}
SEL_FG={{base05-hex}}
SPACING=2
TERMINAL_ACCENT_COLOR=0d5fa7
TERMINAL_BACKGROUND=0a0a0f
TERMINAL_BASE_TEMPLATE=basic
TERMINAL_COLOR0=0a0a0f
TERMINAL_COLOR1=7e0300
TERMINAL_COLOR10=00ff00
TERMINAL_COLOR11=b0ff00
TERMINAL_COLOR12=0d5fa7
TERMINAL_COLOR13=b003a7
TERMINAL_COLOR14=1793D1
TERMINAL_COLOR15={{base05-hex}}
TERMINAL_COLOR2=32C05C
TERMINAL_COLOR3=7ed000
TERMINAL_COLOR4=000396
TERMINAL_COLOR5=7e0375
TERMINAL_COLOR6=0a6fa1
TERMINAL_COLOR7={{base05-hex}}
TERMINAL_COLOR8=8a8a8f
TERMINAL_COLOR9=b00300
TERMINAL_CURSOR={{base05-hex}}
TERMINAL_FOREGROUND={{base05-hex}}
TERMINAL_THEME_ACCURACY=122
TERMINAL_THEME_AUTO_BGFG=False
TERMINAL_THEME_EXTEND_PALETTE=False
TERMINAL_THEME_MODE=manual
THEME_STYLE=oomox
TXT_BG={{base0D-hex}}
TXT_FG={{base05-hex}}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{base03-hex}}
WM_BORDER_UNFOCUS={{base03-hex}}

