dkcmd set border width=3 outer_width=2 \
    colour \
    focus='#{{base0D-hex}}' \
    unfocus='#{{base03-hex}}' \
    urgent='#{{base09-hex}}' \
    outer_focus='#{{base00-hex}}' \
    outer_unfocus='#{{base00-hex}}' \
    outer_urgent='#{{base00-hex}}'

